/* Used for all */
    /* Fonts */

    h1, h3{ /* Halogen Bold */
        font-family: halogen, sans-serif;
        font-weight: 700 !important;
        font-style: normal;
    }
    .boldHeader{
        text-transform: uppercase; 
    }
    .lightBody{ /* Termina Light */
        font-family: termina,sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .bodyText, p , .navigation, h2 { /* Termina Regular */
        font-family: termina,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #fdfdfd;
    }

    h3, .Form.Label {
        color: #fdfdfd;
    }
    
    /* Other Assets */
        html, body {
            overflow-x: hidden;
            background-color: #1c1c1c;
            height:100%;
        }
        .parallax {
            min-height: 100vh;
            width: "100vw";
            overflow: "hidden";
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .App{
            background-color: transparent;
        }
        body{
            -webkit-text-size-adjust: none;
        }
        .defaultTextBody{
            display: flex;
            align-items: center;
            letter-spacing: -0.015em;
            font-size: 1.4em;
            overflow-wrap: break-word;
        }
        .navigation{
            font-size: 2.8vh;     
        }

/* Sections */ 
    /* Intro Assets */ 

    #introSection{
        background: url(assets/background_image.jpg) no-repeat center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        background-attachment: fixed;
        padding-top: 4%;
        
    }
    #fullName, #dda{
        letter-spacing: -0.015em;
        color: #DDE41A;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    #fullName {
        font-size: 12vh;
    }
    #dda{
        font-size: 6.5vh;
    }

    /* Gallery Assets */ 
    #gallerySection{
        background-color: #1c1c1c;
        padding-top: 12vh;
        padding-bottom: 12vh;
    }
    .wideImgTop, .wideImgBottom, .narrowImg, .narrowImg2, .singleImg{
        background-color: #624FC2;
    }
    .wideImgTop, .wideImgBottom{
        height: 32vh;
    }
    .wideImgTop{
        float: inline-start;
        margin-bottom: 6vh;
    }
    .wideImgBottom{
        float: inline-end;
    }   
    .narrowImg, .narrowImg2, .singleImg{
        height: 70vh;    
    }
    .narrowImg{
        margin-left: 4vh;
    }
    .narrowImg2{
        margin-right: 4vh;
    }

    #aboutImg{
        background: url(assets/about_image.jpg) no-repeat center;
        background-size: cover;

    }

     /* Contact / About Assets, z-index: 1; */ 
    #aboutContactSection {
        background-color: #1c1c1c;
        padding-top: 12vh;
        padding-bottom: 12vh;
    }


    .gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}