/* Used for all */
    /* Fonts */

    h1{ /* Halogen Bold */
        font-family: halogen, sans-serif;
        font-weight: 700 !important;
        font-style: normal;
    }
    .boldHeader{
        text-transform: uppercase; 
    }
    .lightBody{ /* Termina Light */
        font-family: termina,sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .bodyText, p , .navigation, h2 { /* Termina Regular */
        font-family: termina,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #DDE41A;
    }
    
    /* Other Assets */
        html, body {
            overflow-x: hidden;
            background-color: #1c1c1c;
            height:100%;
        }
        .parallax {
            min-height: 100vh;
            width: "100vw";
            overflow: "hidden";
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .App{
            background-color: transparent;
        }
        body{
            -webkit-text-size-adjust: none;
        }
        .defaultTextBody{
            display: flex;
            align-items: center;
            letter-spacing: -0.015em;
            font-size: 1.4em;
            overflow-wrap: break-word;
        }
        Container{
            margin-left: 0;
            margin-right: 0;
            overflow: hidden;
        }
        .navigation{
            font-size: 2.8vh;     
        }

/* Sections */ 
    /* Intro Assets */ 

    #introSection{
        background: url(assets/background_image.jpg) no-repeat center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        background-attachment: fixed;
        padding-top: 4%;
        
    }
    #fullName, #dda{
        letter-spacing: -0.015em;
        color: #DDE41A;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    #fullName {
        font-size: 12vh;
    }
    #dda{
        font-size: 6.5vh;
    }

    /* Gallery Assets */ 
    #gallerySection{
        color: #F3EFE2;
    }
    .rowType2{
        position: absolute;
        background: #624FC2;
        height: 60vh;
        width: 70vw;
    }

     /* Contact / About Assets, z-index: 1; */ 

    #aboutContactSection { 
        background-color: #1c1c1c;
    }
    .aboutText{
        color: #F3EFE2;
    }

